$mainBg: #c6a770;
$mainColor: #232323;
$btnBgCatalog: #54af3a;
$whiteColor: #fff;
$sliderArrowsColor:#c6a770;
$linkColor: #54af3a;
$btnMoreColor: #524f4e;
$advantageColor: #e93824;
$labelBg: #94ce2d;
$boxShadow: 4px 4px 2px 0 rgba(198, 167, 112, 0.25);
$borderSelect: #e8e8e8;
$paginationActive: #c6a770;
$dateBg: #c6a770;
$bgClose: #fff;
