.slider_percentage {
    position: relative;
}
.slider_default {
    overflow: hidden;
    margin: 0;
    .frame {
        position: relative;
        width: 100%;
        overflow: hidden;
        font-size: 0;
        line-height: 0;
        white-space: nowrap;
        .slides {
            display: block;
            line-height: 0;
            li {
                display: inline-block;
                position: relative;
                width: 100%;
                &:after {
                    content: "";
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    background-color: rgba(0, 0, 0, 0.2);
                }
                .text_field {
                    @include lg(top, 35%);
                    box-sizing: border-box;
                    position: absolute;
                    z-index: 100;
                    top: 10%;
                    right: 3rem;
                    left: 3rem;
                    line-height: normal;
                    text-align: center;
                    color: $whiteColor;
                    white-space: normal;
                    &-title {
                        @include lg(font-size, rem(30));
                        font-size: rem(18);
                    }
                    &-body {
                        .btn_more {
                            @include lg(margin, 1.5rem 0 0 0);
                            margin: .5rem 0 0 0;
                        }
                    }
                }
            }
        }
    }
    .prev, .next {
        display: block;
        position: absolute;
        top: calc(50% - 18px);
        width: 40px;
        background-color: rgba(255, 255, 255, .9);
        cursor: pointer;
        transition: all 300ms ease;
        &:hover {
            background-color: rgba(255, 255, 255, .8);
        }
    }
    .next {
        text-align: right;
        right: 0;
        border-bottom-left-radius: 25px;
        border-top-left-radius: 25px;
    }
    .prev {
        left: 0;
        border-bottom-right-radius: 25px;
        border-top-right-radius: 25px;
    }
    .next svg, .prev svg {
        width: 36px;
        height: 36px;
        vertical-align: middle;
    }
}
.btn_more {
    min-width: 120px;
    margin: 2rem 0 0 0;
    padding: 12px 14px 12px 30px;
    font-size: rem(14);
    text-transform: uppercase;
    outline: none;
    border-radius: 45px;
    letter-spacing: 2px;
    font-weight: 600;
    color: $btnMoreColor;
    background: $whiteColor;
    &:hover {
        cursor: pointer;
        background-color: $sliderArrowsColor;
        color: $whiteColor;
        svg {
            fill: $whiteColor;
            right: 18px;
        }
    }
    svg {
        position: absolute;
        top: 13px;
        left: 20px;
        width: 14px;
        height: 14px;
        transition: all 300ms ease;
        fill: $btnMoreColor;
    }
}
