.tab-contents {
    margin: 2rem 0 0 0;
}
.tab-nav {
    margin: 0;
    padding: 0;
}
.tab-link {
    @include lg(padding, 10px 20px);
    @include lg(display, inline-block);
    @include lg(margin-right, 5px);
    @include lg(border, none);
    display: block;
    z-index: 10;
    padding: 10px 20px;
    transition: all 300ms ease;
    margin-right: 0;
    color: $whiteColor;
    border-bottom: 1px solid #ccc;
    &:before {
        background-color: $tabBg;
    }
    &:hover {
        cursor: pointer;
    }
    &:last-child {
        border: none;
        margin-right: 0;
    }
    &.is_active {
        z-index: 10;
        &:before {
            content: "";
            position: absolute;
            z-index: -1;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-color: rgba(150, 105, 76, .9);
        }
    }
}
.tab-content {
    display: none;
    background-color: $whiteColor;
    min-height: 100px;
    &.is_active {
        display: block;
        padding: 1rem;
    }
}
