.breadcrumbs {
    @include lg(margin, 0);
    margin: 1rem 0 0 0;
    ul {
        list-style: none;
        li {
            font-size: rem(14);
            display: inline-block;
            position: relative;
            & + li {
                margin: 0 0 0 1rem;
                &:before {
                    content: "/";
                    position: absolute;
                    top: 1px;
                    left: -.8rem;
                }
            }
        }
    }
}
