.product_text {
    background-color: $whiteColor;
    padding: 1rem;
}
.product_gallery {
    position: relative;
    background-color: $whiteColor;
    .label {
        top: 1rem;
    }
}
.product_cart {
    @include lg(flex-wrap, nowrap);
    @include lg(text-align, left);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 0 1rem 0;
    padding: 1rem;
    background-color: $whiteColor;
    text-align: center;
    .btn {
        @include lg(margin, 0);
        display: block;
        width: auto;
        margin: 1rem auto 0;
    }
    &-price {
        @include lg(width, 100%);
        width: 50%;
        margin: .5rem 0;
        font-size: rem(18);
        > span {
            font-weight: 700;
            font-size: rem(20);
            color: $advantageColor;
        }
    }
}
.single_block.counter {
    margin: 0;
    .count {
        display: inline-block;
        width: auto;
        border: none;
        padding: 6px 0;
    }
    div {
        display: inline-block;
        width: 30px;
        height: 30px;
        border: 1px solid rgba(84, 175, 58, 0.5);
        line-height: 30px;
        vertical-align: middle;
        text-align: center;
        &.minus {
            margin: 0 .5rem 0 0;
        }
        &.plus {
            margin: 0 0 0 .5rem;
        }
        &.minus, &.plus {
            font-size: rem(24);
            &:hover {
                cursor: pointer;
            }
        }
    }
}
form .count {
    text-align: center;
    width: 35px;
}
