html, body {
    width: 100%;
    height: 100%;
    font-family: "Roboto Condensed", serif;
    line-height: normal;
    color: $mainColor;
    background-color: #f2f1ed;
}
h1, h2, h3, h4, h5, h6, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}
h1, h2, h3, h4, h5, h6 {
    margin: 1rem 0;
}
h2 {
    font-size: rem(26);
}
h3 {
    font-size: rem(24);
}
h4 {
    font-size: rem(22);
}
h5 {
    font-size: rem(20);
}
h6 {
    font-size: rem(18);
}
p, ul, ol {
    font-size: rem(17);
    text-align: justify;
    margin: 0 0 1rem 0;
    line-height: 24px;
}
a {
    transition: all 300ms ease;
    color: $linkColor;
    outline: none;
    &:hover {
        text-decoration: none;
    }
}
.btn {
    display: inline-block;
    text-align: center;
    position: relative;
    transition: all 300ms ease;
    svg {
        transition: all 300ms ease;
    }
}
.btn_more {
    min-width: 210px;
}
figure {
    margin: 0;
    padding: 0;
}
.container {
    @include container();
    @include sm(max-width, rem(510));
    @include md(max-width, rem(690));
    @include lg(max-width, rem(930));
    @include xl(max-width, rem(1110));
}
.row {
    @include row-flex();
    align-items: center;
}
.col-12 {
    @include col();
    @include size(12);
}
.col-11 {
    @include col();
    @include size(11);
}
.col-10 {
    @include col();
    @include size(10);
}
.col-9 {
    @include col();
    @include size(12);
    @include size-lg(9);
    @include size-md(9);
}
.col-6 {
    @include col();
    @include size(12);
    @include size-lg(6);
    @include size-md(6);
}
.col-5 {
    @include col();
    @include size(12);
    @include size-lg(5);
    @include size-md(5);
}
.col-4 {
    @include col();
    @include size(12);
    @include size-lg(4);
    @include size-md(4);
}
.col-3 {
    @include col();
    @include size(12);
    @include size-lg(3);
    @include size-md(3);
}
.align_fs {
    align-self: flex-start;
}
.as_center {
    align-self: center;
}
.content {
    @include lg(margin, 2rem 0);
    margin: 0 0 1rem 0;
}
.icon {
    display: inline-block;
    vertical-align: middle;
}
[class*=col-] {
    z-index: 10;
    box-sizing: border-box;
}
img {
    width: 100%;
    height: auto;
}
img[src=""] {
    display: none;
}
input, textarea {
    &:focus::placeholder {
        color: transparent;
    }
}
section {
    margin: 2rem 0;
}
.title {
    font-size: rem(30);
}
.center {
    text-align: center;
}
button::-moz-focus-inner, button {
    outline: none;
    border: 0;
}
.with_leaf {
    background-image: url("../img/leaf.jpg");
    background-repeat: repeat;
    position: relative;
    z-index: 110;
    &:before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(150, 105, 76, .9);
        z-index: -1;
    }
}
.debug {
    z-index: 200;
    @include debug(rgba(0,0,0,0.4), 1px solid #ff0);
}
